<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4 row">
    <div class="col-sm-8 col-md-7 py-4">
      <h4 class="text-white">About</h4>
      <p class="text-muted">At mobiotics, we are passionately pioneering the Next Gen TV Experience. Mobiotics range of OTT video products enable service providers and viewers transition to interactive, connected future of TV seamlessly.</p>
    </div>
    <div class="col-sm-4 offset-md-1 py-4">
      <h4 class="text-white">Contact</h4>
      <ul class="list-unstyled">
        <li><a href="https://twitter.com/mobiotics" class="text-white">Follow on Twitter</a></li>
        <li><a href="https://www.facebook.com/mobiotics" class="text-white">Like on Facebook</a></li>
        <li><a href="https://www.linkedin.com/company/mobiotics/" class="text-white">Follow on LinkedIn</a></li>
      </ul>
    </div>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <h3 class="header">Mobio-TV</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<section class="py-4 text-center container ">
  <div class="row py-lg-4">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Overview</h1>
      <p class="lead text-muted">Welcome to the world of intriguing videos.</p>
      <p class="lead text-muted">...eat, sleep, WATCH, repeat...</p>
    </div>
  </div>
</section>

<router-outlet></router-outlet>